

body{
    background: rgb(78,78,78);
    background: linear-gradient(90deg, rgba(78,78,78,1) 0%, rgba(73,143,166,1) 50%, rgba(78,78,78,1) 100%);
}

h1{
    display:flex;
    flex-direction: column;
    color: black;
}


#rightButtons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    margin-left: 50px;
}

#leftButtons{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
    margin-right: 50px;
    
}

#board{
    outline: solid;
    height: 500px;
    width: 500px;
    display: grid;
    margin-bottom: 10px;
}

#outerBoard{
    width: 550px;
    height: 650px;
    
    background: rgb(171,0,0);
    background: linear-gradient(183deg, rgba(171,0,0,1) 0%, rgba(255,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 30px;
}


#boardTitle{
    display: flex;
    justify-content: center;
    align-items: center;  
    font-family: 'Courier New', Courier, monospace    
}

#boardInfo{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}



.boxes{
    border:0.05px solid lightgrey;
    background-color: white;

}


#main{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    
}

#mainBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove{
    background-color: white;
  
}


#reset{
    margin-top: 5px;
    width: 400px;
    height: 40px;
    border-radius: 10px;

}

button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    border-radius: 50%;
    background-color: black;
    color: white;
}

button:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}


.footer-box{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: 60px;
    font-size: 1.2em;
    color: black;    
    
    
}


#page{
    display: flex;
    flex-direction: column;
}