h1{
    color: blue;
}




#board{
    outline: solid;
    height: 500px;
    width: 500px;
    display: grid;
    /* grid-template: repeat(16, 1fr) / repeat(16, 1fr);  */
}



div{
    
    outline: solid;
   

}