h1{
    color: blue;
}


#board{
    outline: solid;
    height: 400px;
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    
}



div{
    display: flex;
    margin: 0px -4px 0 0;
    
    
}